/*CSS RESET*/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6, a {
    overflow-wrap: break-word;
    color: #0f1620;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

a{
  color: black;
}

a:hover{
  color: #2c2c2c;
}


#explicacion{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: auto;
    border: 4px solid #4A8BDF;
    border-radius: 10px;
}

.imagen-derecha{
    width: 30%;
    height: auto;
    flex-shrink: 0;
}

.explicacion-izquierda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 40%;
    height: auto;
    padding: 1rem 1rem 4rem 1rem;
}

#titulos-contenedor{
    text-align: center;
    margin: 1rem;
}
#clases-contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
    width: 80%;
    height: auto;
    padding: 0.5rem;
    border-radius: 0.2rem;
}

.contenedor-clases{
  display: flex;
  flex-direction: column;
  background-color: #f6fcfd;
  width: 100%;
  height: auto;
  margin: 0;
  align-items: center;
}

.clase{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    border: 4px solid #A0006D;
    font-size: 1.2rem;
}

/*MENU.HTML*/
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EFFAFD;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  /*background-color: #EFFAFD;*/
  /*background-color: #4A8BDF;*/
  /*background-color: #A0006D;*/
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  overflow: auto;
  padding: 1rem 0;
  gap: 1rem;
}

footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #060640;
  position: relative;
  bottom: 0;
}

footer *{
  color:white;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

header nav a{
  text-decoration: none;
  transition: 0.3s;
}

header nav a:hover{
  transform: scale(1.1);
  padding: 0.4rem;
  background-color: rgb(51, 117, 209);
  border-radius: 0.2rem;
}

.header-izquierda{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido{
  flex-grow: 1;
  height: 150vh;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: lightgreen;
}

.footer-line {
  border: none;             /* Remove default styling */
  border-top: 2px solid #4A8BDF;/* Define thickness and color */
  width: 80%;               /* Makes the line shorter than full width */
  margin: 20px auto;        /* Centers the line with auto left/right margins */
}

.footer-line2{
  border: none;             /* Remove default styling */
  border-top: 2px solid #4A8BDF; /* Define thickness and color */
  width: 60%;               /* Makes the line shorter than full width */
  margin: 20px auto;        /* Centers the line with auto left/right margins */
}

.footer-centro{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 20%;
  height: 10rem;
}

.footer-centro div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.footer-derecha{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20rem;
  height: auto;
  gap: 0.5rem;
}

.contenedor-footer{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}