/*CSS RESET*/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#explicacion{
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: auto;
    margin: 2rem;
    background-color: lightgreen;

}

.imagen-derecha{
    width: 30%;
    height: auto;
    flex-shrink: 0;
}

.explicacion-izquierda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 40%;
    height: auto;
    padding: 1rem 1rem 4rem 1rem;
    background-color: lightpink;
}

#titulos-contenedor{
    text-align: center;
    margin: 1rem;
}
#clases-contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 90%;
    height: auto;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background-color: lightblue;
}

.clase{
    text-align: center;
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    background-color: lightcoral;
}

/*MENU.HTML*/
body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header{
  display: flex;


  /*para que el header se quede fijo en la pantalla*/
  position: sticky;
  /*superponer el header ante cualquier otro elemento*/
  z-index: 1000;
  
  width: 100%;
  height: 4rem;

  background-color: rgb(224, 111, 111);
}
main{
  flex-grow: 1;
  overflow: auto;
background-color: lightcyan;
}

footer{
  display: flex;
  width: 100%;
  height: 4rem;
  position: sticky;
  bottom: 0;
  background-color: lightslategrey;
}